#menu-rooms {
  background-color: second_color();
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

    .text-menu-rooms{
      text-align: center;
      text-transform: uppercase;
      font-size: 40px;
      font-family: $font_main;
      color: color_main();
  }

  #space {
    margin-bottom: 50px;
  }
}