#owl-demo{
  background:#000;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.85;
    background-attachment: scroll;
    background-position: center center;
}
