// Color settings
$font_color_main: #fff;

// Font's settings
$font_main: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$second_font: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
